@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Verdana:wght@400&display=swap');

:root {
    --primary-color: #0C4767;
    --secondary-color: #566E3D;
    --accent-color: #B9A44C;
    --additional-accent-color: #F9F9F9;
    --heading-font: 'DM Sans', sans-serif; /* Use DM Sans for headings */
    --paragraph-font: 'Verdana', sans-serif; /* Use Gideon Roman for body text */
    --navigation-background-color: #0C4767;
    --navigation-link-color: #B9A44C;
    --navigation-hover-link-color: #F9F9F9;
    --navigation-hover-background-color: #F9F9F9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}