@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Verdana:wght@400&display=swap');

:root {
    --primary-color: #ede242;
    --secondary-color: #da9f41;
    --accent1-color: #304c12;
    --accent2-color: #1d6d98;
    --heading-font: 'DM Sans', sans-serif;
    --paragraph-font: 'Verdana', sans-serif;
    --nav-background-color: #da9f41;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #f08a41; 
    --nav-hover-background-color: #981d73;
}

header, nav {
    background-color: #da9f41;
    padding: 10px;
}

body {
    font-family: 'DM Sans', sans-serif;
    max-width: 1960px;
    margin: auto;
    padding: 20px;
    background-color: #1d6d98;
}

p {
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    margin-bottom: 0rem;
    padding: 25px;
    color: #000000;
    font-size: 2rem;
}

h1 {
    top: 50px;
    max-width: 1900px;
    text-align: center;
    font-size: 5rem;
}

h2 {
    max-width: 1900px;
    text-align: left;
    font-size: 2.5rem;
}

.hero{
    margin: 2rem;
    position: relative;
    top: 25px;
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: rgba(58, 158, 174, 0.8);
    padding: 20px;
    box-sizing: border-box;
    z-index: 150;
}

article img {
    float: right;
    margin-left: 20px; 
}

nav {
    background-color: #da9f41;
    font-size: 1.5rem;
    display: flex;
}

nav a, nav a:link, nav a:visited {
    display: block;
    color: #ede242;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    color: #ede242;
    background-color: #981d73;
}