@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Verdana:wght@400&display=swap');

:root {
    --primary-color: #ede242;
    --secondary-color: #da6a41;
    --accent-color: #304c12;
    --additional-accent-color: #1d6d98;
    --heading-font: 'DM Sans', sans-serif; /* Use DM Sans for headings */
    --paragraph-font: 'Verdana', sans-serif; /* Use Gideon Roman for body text */
    --navigation-background-color: #1d6d98;
    --navigation-link-color: #ede242;
    --navigation-hover-link-color: #da6a41;
    --navigation-hover-background-color: #304c12;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color); /* Sets the color of headings */
}

header {
    background-color: var(--navigation-background-color);
    padding: 20px;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--navigation-link-color);
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}


