/* Universal selector rule added at the top */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue; /* Steel Blue */
    padding: 18px;
}

nav a {
    color: white; /* White */
    display: block;
    padding: 5px;
}

h1 {
    color: rgb(70, 130, 180); /* Steel Blue */
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue; /* Steel Blue */
    padding: 2px;
    box-shadow: 0 0 30px gray; /* Gray */
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

main p {
    font-family: 'Verdana', Arial, sans-serif;
}

main {
    max-width: 840px;
}
aside.box {
    position: relative;
    display: inline-block;
}

aside.box img {
    width: 100%;
    height: auto;
}

aside.box h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white; /* White */
    background-color: rgba(0, 0, 0, 0.5);
    margin
    padding


footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 50%;
    text-align: center; 
    color: white; /* White */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px; 0;
    margin-top: 15px; 
    border-top: 1px solid #000; Black
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light Gray */
    padding: 1rem; /* 16px */
    background-color: #f4b28c; /* Light Brown */
    color: #372306; /* Dark Brown */
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}