/* Universal selector rule added at the top */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(111, 149, 181); /* Light Steel Blue */
    padding: 12px;
}

nav a {
    color: white; /* White */
    display: block;
    padding: 5px;
    margin: 1px;
}

h1 {
    color: rgb(70, 130, 180); /* Light Steel Blue */
    margin-bottom: 5px;
    margin-top:30px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue; /* Steel Blue */
    padding: 5px;
    box-shadow: 0 0 30px gray; /* Gray */
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

main p {
    font-family: 'Verdana', Arial, sans-serif;
    margin-bottom: 30px;
}

main {
    max-width: 840px;
}

aside.box {
    position: relative;
    display: inline-block;
}

aside.box img {
    width: 100%;
    height: auto;
}

aside.box h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    text-align: center;
    color: rgb(3, 0, 0); /* Black */
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center; 
    color: rgb(0, 0, 0); /* Black */
    background-color: rgba(114, 141, 148, 0.5);
    padding: 5px;
    margin-top: 25px; 
    border-top: 1px solid #000; /* Black */
}

/* Class Selectors */
.box {
    margin: 0.5rem;
    border: 1px solid rgba(132, 125, 125, 0.1); /* Light Gray */
    padding: 1rem; /* 16px */
    background-color: #f4b28c; /* Light Brown */
    color: #000000; /* Black */
}

aside {
    width: 28rem;
    text-align: center;
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

/* .image-container img {
    width: 100%;
    display: block;
} 
 .image-container h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    color: white; /* White 
    background-color: rgba(0, 0, 0, 0.5);
}